{% extends "base.html" %}

{% block content %}
<div class="col-lg-5 mx-auto">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow-sm">
        <div class="card-header">
            User Login
        </div>
        <div class="card-body">
            <form action="{% url "login" %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="small text-muted">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="small text-muted">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="submit" value="LogIn" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}